// Colors
$yellow: #ffcc00;

$blue: #1c88bf;
$white: #ffffff;
$off-white: #CFB5D8;

$grey: #666666;
$dark-grey: #333;
$black: #222b2f;

$light-purple: #666699;
$dark-purple: #663366;
$light-blue: #330033;
$dark-blue: #000033;
$darker-blue: #221543;

$secondary: $light-purple;
$primary: $light-blue;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 0.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.5rem;
$desktop-breakpoint: 45rem;

// Sizes
$container-width: 60%;

// Fonts
@font-face {
  font-family: "p-regular";
  src: url("/fonts/MONTSERRAT-REGULAR.TTF");
}

@font-face {
  font-family: "p-bold";
  src: url("/fonts/MONTSERRAT-BOLD.TTF");
}

@font-face {
  font-family: "p-thin";
  src: url("/fonts/MONTSERRAT-THIN.TTF");
}

@font-face {
  font-family: "secondary";
  src: url("/fonts/ORATORSTD-SLANTED.OTF");
}

@font-face {
  font-family: "body";
  src: url("/fonts/MONTSERRAT-LIGHT.TTF");
}

// Global Settings

*,
*::after,
*::before {
  margin: 0;
}


h1 {
  color: $primary;
  font-family: p-regular;
  font-size: 2.625rem;
  font-weight: 600;
}

h2 {
  color: $grey;
  font-family: secondary;
  font-size: 1.625rem;
  font-weight: 400;
}

h3 {
  color: $grey;
  font-size: 2.625rem;
  font-family: p-thin;
  font-weight: 600;
}

h4 {
  color: $grey;
  font-family: p-regular;
}

h5 {
  color: $grey;
  font-family: p-regular;
}

p {
  color: $grey;
  font-family: body;
  font-size: 0.95rem;
}

a {
  font-family: p-bold;
  font-size: 0.95rem;
  text-decoration: none;
  color: $grey;
  cursor: pointer;
}

button {
  color: $white;
  font-family: p-regular;
  cursor: pointer;
}
