@import "../styles/settings.scss";

.logo__svg {
  height: 32px;
  padding: 0;
  rect {
    stroke: white;
    fill: transparent;
    transition: fill 0.35s ease-in-out;
  }
  path {
    fill: white;
  }
  &:hover {
    rect {
      fill: $secondary;
    }
  }
}

.social__svg {
  path {
    transition: fill 0.35s ease-in-out;
  }
  &:hover {
    path {
      fill: $secondary;
    }
  }
}
