@import "../styles/settings.scss";

.logo__svg {
  height: 32px;
  padding: 0;
  rect {
    stroke: white;
    transition: stroke 0.35s ease-in-out;
  }
  path {
    fill: white;
    transition: fill 0.35s ease-in-out;
  }
  // &:hover {
  //   rect {
  //     stroke: $secondary;
  //   }
  //   path {
  //     fill: $secondary;
  //   }
  // }
}

.social__svg {
  path {
    transition: fill 0.35s ease-in-out;
  }
  &:hover {
    path {
      fill: $primary;
    }
  }
}
