@import "../styles/settings.scss";


.titleContainer {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-60%);
  }
  
  .title {
    text-align: center;
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    color: $white;
  }
  
  .title::after {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background: $white;
    top: 90%;
    transform: translateX(50%);
  }
  
  .title::before {
    content: "";
    background-image: url("/images/feather.png");
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    margin-left: -50px;
  }

.contactContainer {
  background-color: $darker-blue;
  padding: 5em;
  background-image: linear-gradient(
    to right,
    white 10%,
    $off-white 80%
  );
  background-position: bottom;
  background-size: 9px 3px;
  background-repeat: repeat-x;
}

.contactTitle {
  text-align: center;
  color: $white;
}

.footerContainer {
  background-color: $secondary;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: $white;
    margin-top: 4em;
    margin-bottom: 1em;
  }
}

.socialIcons {
  display: flex;
  a {
    font-size: 2rem;
    margin: 0 8px;
    border-radius: 3px;
    padding: 10px 16px;
    background-color: $off-white;
    color: $white;
  }
}

.copyrightContainer {
  margin-top: 6em;
  p {
    color: darken(white, 40%);
    font-size: 0.8rem;
    margin: 10px;
  }
}
