@import "../styles/settings";

.header {
  background-color: transparent;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.nav {
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-left: 20px;

    position: relative;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .header__hamburger {
    display: none;
  }
}

@media screen and (max-width: $desktop-breakpoint) {
  .nav {
    li {
      margin-left: 5px;
    }
  }
}
