.container {
    height: 80vh;
    width: 100vw;
    position: relative;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    
    opacity: 0.9;
    background-color: black;
}

.particles {
    canvas {
        width: 100vw !important;
        height: 80vh !important;
    }
}