@import "../styles/settings";

.portfolio {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.title {
  text-align: center;
  margin: 6rem 0 6rem 0;
}

.title::before {
  content: '';
  background-image: url("/images/gears.png");
  width: 35px;
  height: 35px;
  position: absolute;
  background-size: cover;
  background-position: center;
  margin-left: -50px;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.portfolio-item {
  background: $primary;
  color: $black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;

  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
}
.one,
.two,
.three,
.four,
.five,
.six {
  text-transform: capitalize;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  transition: all ease-in-out 300ms;
  position: relative;
  cursor: pointer;
  z-index: 10;

  & a {
    color: $grey;
  }

  &::before {
    content: "";
    display: block;
    background: $black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }

  &:hover::before {
    opacity: 0.2;
  }

  &:hover {
    background-position: top;
    & a {
      color: white;
    }
  }
}

// Images

// .one {
//   background-image: url("/images/expensify.jpg");
// }

// .two {
//   background-image: url("/images/newmacau.jpg");
// }

// .three {
//   background-image: url("/images/sarradem.jpg");
// }
