@import "../styles/settings";

.portfolio {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

.titleContainer {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-60%);
}

.title {
  text-align: center;
  margin: 6rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  color: $white;
}

.title::after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background: $white;
  top: 70%;
  transform: translateX(50%);
}

.title::before {
  content: "";
  background-image: url("/images/gears.png");
  width: 25px;
  height: 25px;
  position: absolute;
  background-size: cover;
  background-position: center;
  margin-left: -50px;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio-item {
  background: $primary;
  color: $black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: center;
  font-size: 2em;
  padding: 20px 0 20px 40px;
  position: relative;

  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
}
.one,
.two,
.three,
.four,
.five,
.six {
  text-transform: capitalize;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-size: cover;
  transition: all ease-in-out 300ms;
  position: relative;
  opacity: 0.3;

  & a {
    color: $white;
  }

  .linkOne {
    font-family: p-thin;
    margin-bottom: 4px;
  }

  .linkOne::before {
    content: "";
    background-image: url("/images/github.png");
    width: 16px;
    height: 16px;
    position: absolute;
    background-size: cover;
    background-position: center;
    margin-left: -25px;
  }

  .linkTwo::before {
    content: "";
    background-image: url("/images/link.png");
    width: 16px;
    height: 16px;
    position: absolute;
    background-size: cover;
    background-position: center;
    margin-left: -25px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }

  &:hover {
    background-position: center;
    opacity: 1;
  }
}

// Images

.one {
  background-image: url("/images/expensify.jpg");
}

.two {
  background-image: url("/images/newmacau.jpg");
}

.three {
  background-image: url("/images/sarradem.jpg");
}

.four {
  background-image: url("/images/betsure.jpg");
}

.five {
  background-image: url("/images/gundapower.jpg");
}

.six {
  background-image: url("/images/sarradem.jpg");
}

@media only screen and (max-width: 768px) {
  .portfolio {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }

  .portfolio-item {
    &.small,
    &.medium,
    &.large,
    &.tall,
    &.wide {
      grid-row: span 1;
      grid-column: span 1;
    }
  }

  .linkOne {
    display: none;
  }
  .linkTwo {
    font-size: 0.5rem;
  }
}
